body
{
    font: 1em Verdana, Geneva, sans-serif;
    padding: 0;
    margin: 5px;
}
div
{
    margin: 0;
    padding: 0;
}
button
{
    cursor: pointer;
}
.hidden
{
    display: none;
}

#app
{
    margin: 4px;
    position: absolute;
    top: 0;
/*    bottom: 0;*/
    left: 0;
    right: 0;
    overflow: auto;
}

#app>header, #app>footer
{
    text-align: center;

}
#app>header
{
    padding: 0 0.5em;
    font-size: 2.5em;
}
#app>footer
{
/*    position: absolute;*/
    bottom: 0;
    padding: 0.25em;
    font-size: 1.5em;
}
#main
{
    margin: 1em;
    max-width: 35em;
    min-width: 9em;
    margin: 1em auto;
}

#new-task-name
{
    font-size: 1em;
    display: block;
    width: 98%;
}

#task-list .task
{
    position: relative;
/*    list-style: none;*/
    padding: 0.30em;
    margin: 0.40em;
    border-radius: 5px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#task-list .task .tools
{
    display: inline-block;
    position: absolute;
    top: 0.20em;
    bottom: 0.20em;
    right: 0.20em;
    border-radius: 4px;
    padding: 0 5px;
    margin: 0;
    opacity: 0;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#task-list .task:hover .tools, #task-list .task.selected .tools
{
    opacity: 1;
}

#task-list .task .tools button
{
    margin: 0;
    padding: 0;
    width: 1em;
    height: 1em;
    border: none;
}

#task-list .task.selected
{
    padding: 0.6em 0.5em;
    border-radius: 6px;
}

#toolbar
{
    position: absolute;
    padding: 0.25em;
    font-size: 0.8em;
}