@CHARSET "ISO-8859-1";
h2
{
	font-family: monospace;
	color: red;
}
p{
    border-color: blue;
    border-style: solid;
    border-width: 5px;
    background-color: yellow;
    color: red;

}
#p2{
    background-color: aqua;
    font-family: sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: blueviolet;
    border-color: bisque;
}
.mystyle
{
    background-color: aqua;
    color: purple;
    font-family: sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}