body
{
    color: Black;
    background-color: WhiteSmoke;
}

#app
{
        background: -webkit-linear-gradient(50deg, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue);
        background: -moz-linear-gradient(50deg, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue);
        background: -ms-linear-gradient(50deg, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue);
        background: linear-gradient(50deg, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue, cornflowerblue, lightblue);
}

#app>header, #app>footer
{
    background-color: hsl(158, 17%, 51%);
    color: WhiteSmoke;
}


#task-list .task
{
    background-color: rgba(47, 79, 79, 0.11);
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #8c62d4;
    background: -webkit-linear-gradient(top, #4289b8, #FFFFFF);
    background: -moz-linear-gradient(top, #4289b8, #FFFFFF);
    background: -ms-linear-gradient(top, #4289b8, #FFFFFF);
    background: linear-gradient(top, #4289b8, #FFFFFF);
}

#task-list .task .tools
{
    border: 1px solid rgba(37, 102, 82, 0.98);
}

#task-list .task.selected
{
    border: 2px solid darkblue;
    background: -webkit-linear-gradient(top, #FFFFFF, #4289b8);
    background: -moz-linear-gradient(top, #FFFFFF, #4289b8);
    background: -ms-linear-gradient(top, #FFFFFF, #4289b8);
    background: linear-gradient(top, #FFFFFF, #4289b8);
}

#toolbar {
    color: White;
    background-color: cornflowerblue;
}