body
{
    color: Black;
    background-color: WhiteSmoke;
}
#app
{
    background: -webkit-linear-gradient(top, #225746, #FFFFFF);
    background: -moz-linear-gradient(top, #225746, #FFFFFF);
    background: -ms-linear-gradient(top, #225746, #FFFFFF);
    background: linear-gradient(top, #225746, #FFFFFF);
}

#app>header, #app>footer
{
    background-color: hsl(158, 17%, 51%);
    color: WhiteSmoke;
}
#task-list .task
{
    background-color: rgba(47, 79, 79, 0.11);
    box-shadow: 0 0 10px 1px #1d4b3c;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#task-list .task .tools
{
    border: 1px solid rgba(37, 102, 82, 0.98);
}

#task-list .task.selected
{
    border: 2px solid orange;
    background-color: white;
}

#toolbar
{
    color: WhiteSmoke;
    background-color: rgba(0, 0, 0, 0.4);
}