body
{
    color: Black;
    background-color: WhiteSmoke;
}

#app
{
        background: -webkit-repeating-radial-gradient(blue, magenta 4%, white 8%);
        background: -o-repeating-radial-gradient(blue, magenta 4%, white 8%);
        background: -moz-repeating-radial-gradient(blue, magenta 4%, white 8%);
        background: repeating-radial-gradient(blue, magenta 4%, white 8%);
}

#app>header, #app>footer
{
    background-color: hsl(158, 17%, 51%);
    color: WhiteSmoke;
}


#task-list .task
{
    background-color: rgba(47, 79, 79, 0.11);
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #8c62d4;
    background: -webkit-linear-gradient(top, WhiteSmoke, magenta);
    background: -moz-linear-gradient(top, WhiteSmoke, magenta);
    background: -ms-linear-gradient(top, WhiteSmoke, magenta);
    background: linear-gradient(top, WhiteSmoke, magenta);
}

#task-list .task .tools
{
    border: 1px solid rgba(37, 102, 82, 0.98);
}

#task-list .task.selected
{
    border: 5px solid Yellow;
    background: -webkit-linear-gradient(top, cornflowerblue, WhiteSmoke);
    background: -moz-linear-gradient(top, cornflowerblue, WhiteSmoke);
    background: -ms-linear-gradient(top, cornflowerblue, WhiteSmoke);
    background: linear-gradient(top, cornflowerblue, WhiteSmoke);
}

#toolbar {
    color: White;
    background: -webkit-repeating-radial-gradient(blue, magenta 15%, white 30%);
    background: -o-repeating-radial-gradient(blue, magenta 15%, white 30%);
    background: -moz-repeating-radial-gradient(blue, magenta 15%, white 30%);
    background: repeating-radial-gradient(blue, magenta 15%, white 30%);
}