body
{
    color: Black;
    background-color: WhiteSmoke;
}

#app
{
    background: -webkit-linear-gradient(50deg, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue);
    background: -moz-linear-gradient(50deg, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue);
    background: -ms-linear-gradient(50deg, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue);
    background: linear-gradient(50deg, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue, yellow, lightblue);


/*
    background: -webkit-repeating-radial-gradient(blue, magenta 10%, white 15%);
    background: -o-repeating-radial-gradient(blue, magenta 10%, white 15%);
    background: -moz-repeating-radial-gradient(blue, magenta 10%, white 15%);
    background: repeating-radial-gradient(blue, magenta 10%, white 15%);
*/
}

#app>header, #app>footer
{
    background-color: hsl(158, 17%, 51%);
    color: WhiteSmoke;
}


#task-list .task
{
    background-color: rgba(47, 79, 79, 0.11);
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #8c62d4;
    background: -webkit-linear-gradient(top, yellow, lightblue);
    background: -moz-linear-gradient(top, yellow, lightblue);
    background: -ms-linear-gradient(top, yellow, lightblue);
    background: linear-gradient(top, yellow, lightblue);
}

#task-list .task .tools
{
    border: 1px solid rgba(37, 102, 82, 0.98);
}

#task-list .task.selected
{
    border: 2px solid darkblue;
    background: -webkit-linear-gradient(top, lightblue, yellow);
    background: -moz-linear-gradient(top, lightblue, yellow);
    background: -ms-linear-gradient(top, lightblue, yellow);
    background: linear-gradient(top, lightblue, yellow);
}

#toolbar {
    color: White;
    background-color: goldenrod;
}