		a:link{
		text-decoration:none;
		}
		a:visited{
			background:green;
			color:brown;
		}
		a:hover{
			background:blue;
			color:magenta;
			font-weight:bold;
			text-decoration:underline;
		}
		a:active{
			background:red;
			color:yellow;
		}



	.squareList{
		list-style-type:square;		
	}
	#imageList{
		list-style-image:url(image/right-arrow.png);
	}
	
	span {
		color:brown;
		background:#ddd;
	}
	div{
		width:600px;
		position:absolute;
		border: 1px green solid;
		top:100px;
		left:50px;
	}
	/*   > gives relation between parent and child  */
	ol > li{
		color:blue;
	}
	
	ol > li:first-line{color:green;}
	ol > li:first-letter{color:magenta;font-size:40px;}
	
	