body {
    font: 1em Verdana, Geneva, sans-serif;
    padding: 0;
    margin: 5px;
    color: Black;
    background-color: WhiteSmoke;
}

div {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

#app {
    margin: 4px;
    background-color: #54C09D;
}

#app > header {
    padding: 0 0.5em;
    font-size: 1.5em;
    color: WhiteSmoke;
    background-color: hsl(158, 54%, 35%);
}

#app > footer {
    padding: 0.25em;
    color: WhiteSmoke;
    background-color: hsl(158, 54%, 35%);
}

#main {
    margin: 1em;
}