@media only screen and (min-device-width: 640px) and
(max-device-width: 1136px) and
(-webkit-min-device-pixel-ratio: 2) {
    /* iPhone 5 only – at least for now */
    div{
        border: 1px solid green;
    }
}

div{
    border: 5px dashed blue;
}

