body {
  padding-bottom: 40px;
  
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color:#555;
}


.tourism.img-circle{
	width: 140px;
}


.shadowEffect {
  color: blue;
  text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
}