/* VIEWPORT < 960px */

@media only screen and (max-width: 960px){
    header, nav, #slides, #service, #widget, #media, #client, footer, #container{ width: 768px; }
    .slide-right{
        left: 0;
    }
    .slide-heading{
        width: auto;
        height: auto;
        padding: 0;
        margin: 0 0 20px 0;
        background-image: none;
        color: #333;
    }
    .slides_container div img{
        display: none;
    }
    .slide-right .info{
        width: 768px;
        margin-bottom: 20px;
        margin-left: 0;
    }
    .slide-right .readmore{
        margin-left: 0;
    }
    .slides_container{
        height: 200px;
    }
    a.next{
        right: 0px;
    }
    a.prev{
        right: 25px;
    }
    .pagination{
        left: 0;
    }
    #service{
        background: none;
        height: auto;
    }
    #vector{
        padding-left: 0;
        width: 369px;
    }
    #vector img{
        margin-right: 0;
    }
    #web{
        padding-left: 0;
        width: 369px;
    }
    #web img{
        margin-right: 0;
    }
    #facebook{
        display: none;
    }
    #twitter{
        margin-left: 18px;
    }
    #blog{
        clear: both;
    }
    #links{
        width: auto;
        margin-bottom: 30px;
    }

    #links ul li{
        float: left;
        margin-right: 30px;
    }
}