html,body{
	margin:0px;
	padding:0px;
}

#page{
	position:relative;
	width:99.3%;
	margin-left:.5%;
	height:2350px;	
}

p
{
	font-family:century;
}

h2,h1,h3,h4,h5,h6
{
	font-family:century;
	text-align:center;
}

ul
{
	list-style-type:square;		
}

p > span 
{
	color:brown;
	background:#ddd;
}

	/*   '>' gives relation between parent and child  */
section ol > li, section ul > li
{
	color:blue;
}
	
section ol > li:first-line
{
	color:green;
}

section ol > li:first-letter, section ul > li:first-letter
{
	color:magenta;font-size:24px;
}

header,footer
{
	position:absolute;
	border:1px solid black;
	background: MediumAquaMarine;
	width:100%;
}

header h1{
	padding:0px;
	margin:0px;
}

header a{
	text-decoration:none;
}
header
{
	height:150px;
	padding:0px;
	color:yellow;
	background: url("../image/light.gif");
	background-size:100% 100%;
	background-repeat:no-repeat;
}

nav{
	position:absolute;
	bottom:0px;
	right:0px;
	padding:3px;
}

table{
	font-family:century;
	border: 2px solid LightBlue;
	background: LightBlue;
 	width:100%;
}

td,th{
	background: LightCyan;
}

#leftPane
{
	position:absolute;
	color: #333;
	border:1px solid black;
	width:190px;
	height:auto;
	top:160px;
	left:10px;
}
#leftPane ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
  
#leftPane li {
	border-bottom: 1px solid #90bade;
	margin: 0;
}
  
#leftPane li a{
	display: block;
	padding: 5px;
	border-left: 10px solid #508fc4;
	border-right: 10px solid #508fc4;
	background-color: #2175bc;
	text-decoration: none;
	width: 100%;
	color:white;
	font-size:18px;
}

#leftPane li a {
	width: auto;
}
 
#leftPane li a:hover {
	border-left: 10px solid #5ba3e0;
	border-right: 10px solid #5ba3e0;
	background-color: #2586d7;
	color: #fff;
}
section
{
	background: rgb(230, 240, 250);
	border:1px solid black;
	position:absolute;
 	width:560px;
	top:160px;
	left:210px;
	margin:0px;
	padding:10px;
}

#rightPane
{
	position:absolute;
	width:190px;
	top:160px;
	left:800px;
}

aside > img{
	width: 190px;
	height: 320px;
}

footer
{
	background: #90bade;
	height:100px;
	padding-bottom:30px;
	bottom:0px;
}

footer h4{
	padding:0px;
	margin:0px;
	color:brown;
}

#pagination a{
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	margin:0px;
}

#mail, #pagination a:link{
	background:#ddd;
	text-decoration:none;
}

#pagination a:visited{
	background:green;
	color:yellow;
}

#pagination a:hover{
	background:blue;
	color:magenta;
	font-weight:bold;
	text-decoration:underlined;
}

#pagination a:active{
	background:red;
	color:yellow;
}

#pagination ul{
	position:absolute;
	right:10px;
	bottom:80px;
}

#pagination li{
	list-style-type:none;
	display:inline;
}
